**/.DS_Store
.github
config
examples
tests
node_modules
babel.config.js
gh-pages*
.editorconfig
.eslintrc.js
.eslintignore
.gitattributes
.gitignore
.mailmap
**/*.gitkeep
.appveyor.yml
.travis.yml
.circleci/config.yml